<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [23]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [24]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [25]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [26]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [27]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [28]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [29]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [30]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [31]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [32]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [33]:
from keras.models import Sequential
from keras.layers import Dense

we create a model that has one hidden layer with 10 neurons and a ReLU activation function using the adam optimizer and the mean squared error as the loss function.

In [34]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Then we import scikit-learn in order to randomly split the data into a training and test sets

In [35]:
from sklearn.model_selection import train_test_split

and split the data into a training and test sets by holding 30% of the data for testing

In [36]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [37]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [40]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 315.3456 - 23ms/epoch - 997us/step
Epoch 2/50
23/23 - 0s - loss: 303.2485 - 22ms/epoch - 954us/step
Epoch 3/50
23/23 - 0s - loss: 292.5270 - 22ms/epoch - 970us/step
Epoch 4/50
23/23 - 0s - loss: 282.7141 - 22ms/epoch - 965us/step
Epoch 5/50
23/23 - 0s - loss: 273.5155 - 21ms/epoch - 922us/step
Epoch 6/50
23/23 - 0s - loss: 265.3515 - 22ms/epoch - 937us/step
Epoch 7/50
23/23 - 0s - loss: 257.9587 - 21ms/epoch - 934us/step
Epoch 8/50
23/23 - 0s - loss: 251.3424 - 22ms/epoch - 951us/step
Epoch 9/50
23/23 - 0s - loss: 245.0621 - 21ms/epoch - 932us/step
Epoch 10/50
23/23 - 0s - loss: 239.5200 - 23ms/epoch - 985us/step
Epoch 11/50
23/23 - 0s - loss: 234.1813 - 23ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 229.4030 - 22ms/epoch - 971us/step
Epoch 13/50
23/23 - 0s - loss: 224.9865 - 22ms/epoch - 950us/step
Epoch 14/50
23/23 - 0s - loss: 221.1632 - 23ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 217.4665 - 23ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 214.2028 - 23ms/epoch - 995us/step
Epoch 17/50
23/23 - 0s - loss: 211.1057 - 23ms/epoch - 986us/step
Epoch 18/50
23/23 - 0s - loss: 208.1946 - 23ms/epoch - 992us/step
Epoch 19/50
23/23 - 0s - loss: 205.4694 - 23ms/epoch - 1ms/step
Epoch 20/50
23/23 - 0s - loss: 202.9186 - 22ms/epoch - 952us/step
Epoch 21/50
23/23 - 0s - loss: 200.5516 - 23ms/epoch - 995us/step
Epoch 22/50
23/23 - 0s - loss: 198.0836 - 22ms/epoch - 973us/step
Epoch 23/50
23/23 - 0s - loss: 195.9268 - 22ms/epoch - 978us/step
Epoch 24/50
23/23 - 0s - loss: 193.6258 - 22ms/epoch - 949us/step
Epoch 25/50
23/23 - 0s - loss: 191.5789 - 22ms/epoch - 967us/step
Epoch 26/50
23/23 - 0s - loss: 189.5800 - 23ms/epoch - 988us/step
Epoch 27/50
23/23 - 0s - loss: 187.6380 - 22ms/epoch - 953us/step
Epoch 28/50
23/23 - 0s - loss: 185.7942 - 22ms/epoch - 968us/step
Epoch 29/50
23/23 - 0s - loss: 183.9136 - 21ms/epoch - 932us/step
Epoch 30/50
23/23 - 0s - loss: 182.1522 - 22ms/epoch - 963us/step
Epoch 31/50
23/23 - 0s - loss: 180.3044 - 22ms/epoch - 957us/step
Epoch 32/50
23/23 - 0s - loss: 178.6469 - 22ms/epoch - 955us/step
Epoch 33/50
23/23 - 0s - loss: 176.9965 - 23ms/epoch - 983us/step
Epoch 34/50
23/23 - 0s - loss: 175.2860 - 22ms/epoch - 936us/step
Epoch 35/50
23/23 - 0s - loss: 173.7189 - 22ms/epoch - 954us/step
Epoch 36/50
23/23 - 0s - loss: 172.0040 - 22ms/epoch - 966us/step
Epoch 37/50
23/23 - 0s - loss: 170.4841 - 22ms/epoch - 959us/step
Epoch 38/50
23/23 - 0s - loss: 168.9090 - 22ms/epoch - 955us/step
Epoch 39/50
23/23 - 0s - loss: 167.3988 - 22ms/epoch - 974us/step
Epoch 40/50
23/23 - 0s - loss: 165.8497 - 22ms/epoch - 964us/step
Epoch 41/50
23/23 - 0s - loss: 164.4142 - 22ms/epoch - 959us/step
Epoch 42/50
23/23 - 0s - loss: 162.9312 - 22ms/epoch - 967us/step
Epoch 43/50
23/23 - 0s - loss: 161.5405 - 22ms/epoch - 972us/step
Epoch 44/50
23/23 - 0s - loss: 160.0342 - 25ms/epoch - 1ms/step
Epoch 45/50
23/23 - 0s - loss: 158.5229 - 22ms/epoch - 953us/step
Epoch 46/50
23/23 - 0s - loss: 157.1388 - 25ms/epoch - 1ms/step
Epoch 47/50
23/23 - 0s - loss: 155.7784 - 23ms/epoch - 986us/step
Epoch 48/50
23/23 - 0s - loss: 154.3053 - 23ms/epoch - 987us/step
Epoch 49/50
23/23 - 0s - loss: 152.9594 - 22ms/epoch - 971us/step
Epoch 50/50
23/23 - 0s - loss: 151.5362 - 22ms/epoch - 935us/step

We evaluate the model on the test data.

In [41]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 990us/step - loss: 144.2405

144.24050903320312

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

144.24051543215833 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [44]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 80.94146728515625
MSE 2: 69.52436065673828
MSE 3: 42.6754264831543
MSE 4: 42.41559982299805
MSE 5: 41.4489860534668
MSE 6: 44.488277435302734
MSE 7: 44.633544921875
MSE 8: 33.79118347167969
MSE 9: 38.1757698059082
MSE 10: 37.97185516357422
MSE 11: 36.86774826049805
MSE 12: 34.501365661621094
MSE 13: 42.283355712890625
MSE 14: 41.397613525390625
MSE 15: 34.137657165527344
MSE 16: 30.830665588378906
MSE 17: 36.215675354003906
MSE 18: 34.2373161315918
MSE 19: 32.77265930175781
MSE 20: 35.408809661865234
MSE 21: 32.147438049316406
MSE 22: 33.867393493652344
MSE 23: 29.977785110473633
MSE 24: 31.952903747558594
MSE 25: 34.58791732788086
MSE 26: 34.88139343261719
MSE 27: 31.919002532958984
MSE 28: 32.10327911376953
MSE 29: 35.54203414916992
MSE 30: 37.997459411621094
MSE 31: 31.267072677612305
MSE 32: 33.16395950317383
MSE 33: 30.326013565063477
MSE 34: 34.18989562988281
MSE 35: 36.70626449584961
MSE 36: 43.228759765625
MSE 37: 29.407020568847656
MSE 38: 36.5009880065918
MSE 39: 34.73504638671875
MSE 40: 29.577789306640625
MSE 41: 35.98597717285156
MSE 42: 28.358402252197266
MSE 43: 34.79658889770508
MSE 44: 35.94473648071289
MSE 45: 35.62854766845703
MSE 46: 35.028072357177734
MSE 47: 31.496421813964844
MSE 48: 34.05417251586914
MSE 49: 35.26902770996094
MSE 50: 33.9734992980957


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 36.98668304458994
Standard Deviation: 8.823100647333739

Diogo Braga

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                                          |
| ----------------- | ------- | ---------- | ----------------------------------------------------------- |
| 2020-09-21        | 2.0     | Srishti    | Migrated Lab to Markdown and added to course repo in GitLab |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3\_LAB1).

<hr>

Copyright © 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_medium=dswb&utm_source=bducopyrightlink&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01).